<div class="mob-header collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=coasters" aria-haspopup="true" aria-expanded="false">
                <h4>Coasters</h4>
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=other_item"  aria-haspopup="true" aria-expanded="false">
                <h4>Other Items</h4>
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=seasonal" aria-haspopup="true" aria-expanded="false">
                <h4>Seasonal</h4>
            </a>
        </li>
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" aria-haspopup="true" aria-expanded="false">
                    <h4>Query form/Reviews</h4>
            </a>
         </li>
        </ul>
</div>